@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Courgette&family=Dancing+Script:wght@400;500;700&family=Nunito:wght@200&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,800;1,100;1,300;1,400;1,600;1,700&family=Roboto:ital@1&family=Sansita+Swashed:wght@300;500&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Courgette&family=Dancing+Script:wght@400;500;700&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,800;1,100;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;1,400&family=Sansita+Swashed:wght@300;500&family=Shadows+Into+Light&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Dancing Script", cursive; */
}

html {
  overflow-x: hidden;
}
